
body {
    font-family: "Roboto", sans-serif;
    background: white;
}

header{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    background-color: #081B29;
    height: 60px;
    border-radius: 15px;
}

header h1{
    color: white;
    margin-left: 10px;
}

.principal-content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.my-resume-section, .my-image-section{
    flex: 1;
}

.my-resume p{
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.social-links{
    display: flex;
    justify-content: center;
}

.social-links a{
    margin-left: 20px;
    margin-right: 20px;
}

/*
.my-image-section{
    
}
*/

.my-image-section img{
    display: block; /* Para alinear correctamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width:400px;
    height: 400px;
    border-radius: 40%;
    object-fit: cover; /* Mantiene la relación de aspecto y rellena el área disponible */
    
}

.tech-tools{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
    
}

.tech-stack, .tools{
    max-width: 350px;
    flex: 1;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #081B29; 
    color: #ffffff; 
    padding: 10px; 
    border-top-left-radius: 15px;
}
/*
header h1 {
    margin-left: 5vh;
    color: black;
    display: inline-block;
    font-weight: 600;
}

header h1:hover {
    color: #336FBD;
    font-weight: 600;
}
*/

/*
.my-resume-social {
    /*background-color: red;*/
    /*
    max-width: 500px;
    margin-top: 5vh;
    margin-left: 20vh;
}

*/
/*
.about-me p {
    margin-top: 0;
    /*background-color: grey;*/
    /*
    color: black;
    font-weight: 600;
    font-size: 20px;
    
}

.my-image {
    margin-top: 5vh;
    margin-left: 5vh;
    background-color: aqua;
    
}

.my-image img {
    width: 268px;
    height: auto;
}

.contact a {
    justify-content: space-between;
    margin-right: 20px;
}

.my-resume-social, .my-image {
    display: inline-block;
}

/*
.tech-stack {
    margin-top: 25vh;
    margin-left: 20vh;
}
*/

/*
.container-technologies {
    margin-left: 20vh;
    margin-top: 25vh;
    display: flex;
}

.tech-stack, .tools {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #081B29; 
    color: #ffffff; 
    padding: 10px; 
}
*/